.AppBar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 180px;
  border-right: 1px solid var(--color-secondary);
  align-items: stretch;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  h3,
  label {
    margin: 0.5em 0;
  }
}

nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1em;
  padding: 1em;
  box-sizing: border-box;

  a {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-contrast);
    text-decoration: none;
    padding: 0.5em;
    border: 1px solid var(--color-secondary);
    border-radius: 0.5em;
  }

  a:hover {
    color: var(--color-tertiary);
    border-color: var(--color-tertiary);
  }
}
