@import "./styles/theme.scss";
@import "./styles/normalize.css";
@import "./styles/skeleton.css";

.App {
  display: flex;
  text-align: center;
  color: var(--color-contrast);
  background-color: var(--color-primary);
}

.contentWrapper {
  padding: 2em 3em;
}
