/*:root {
    --primary: #499f68;
    --secondary: #FFB627;
    --tertiary: #EB5160;
    --quaternary: #071013;
    --dark: #071013;
}*/

.light {
  --color-primary: #dfe0e2;
  --color-secondary: #aaaaaa;
  --color-tertiary: #eb5160;
  --color-quaternary: #b7999c;
  --color-contrast: #071013;

  --ok: #499f68;
  --warning: #ffb627;
  --error: #eb5160;
}

/*
Palette

Rich Black      #071013
Indian Red      #EB5160
Rosy Brown      #B7999C
Silver          #AAAAAA
Platinum        #DFE0E2


Ok              #499f68
Warning         #FFB627
Error           #EB5160

*/
